
@using QLSanPhamDienTu_WebApplication.Models;
@model List<GioHang>
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
<table class="table" style="text-align:center;">
        @using (Html.BeginForm("DatHang","Giohang",new { @maKhachHang = kh.maKhachHang} , FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <tr>
                <td>Tên Khách Hàng :</td>
                <td style="font-weight:bold;">@kh.tenKhachHang</td>
            </tr>
            <tr>
                <td>Địa Chỉ :</td>
                <td style="font-weight:bold;"><input class="form-control" value="=@kh.diaChi" name="diaChi" /></td>
            </tr>
            <tr>
                <td>Điện Thoại :</td>
                <td style="font-weight:bold;">@kh.soDienThoai</td>
            </tr>
            <tr>
                <td>Ngày Đặt :</td>
                <td style="font-weight:bold;">@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr>
                <td>Ngày Giao :</td>
                <td ><input type="date" name="NgayGiao"/></td>
            </tr>
            
            <tr>
                <td colspan="2"><input class="btn btn-primary" type="submit" value="Đồng Ý Đặt Hàng"/></td>
            </tr>
        }
    </table>
