@using QLSanPhamDienTu_WebApplication.Models;
@model List<Banner>

@{ foreach (var item in Model)
    {
        <div class="carousel-item active">
            <img src="@item.fileBanner" alt="First slide">
        </div>
    }
}
