@{
    ViewBag.Title = "DanhSachSanPhamRong";
    Layout = "~/Views/Shared/QLSPLayout.cshtml";
}

<div class="card">
    <center>
        <div class="card-body">
            <div class="card-img-top">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mascot_fail.svg" />
            </div>
            <div class="card-text text-muted">
                <span style="font-size:14px; font-weight:500">Không có sản phẩm này</span>
            </div>
            <div class="mt-2">
                <button class="btn btn-warning">Tiếp tục mua sản phẩm</button>
            </div>
        </div>
    </center>
</div>
