@{
    ViewBag.Title = "HttpNotFound_404";
    Layout = "~/Views/Shared/QLSPLayout.cshtml";
}
<div class="card" style="">
    <div class="card-body">
        <center>
            <img style="width:200px" src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" />
            <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
            <button type="button" class="btn btn-outline-primary">Tiếp tục mua sản phẩm</button>
        </center>
    </div>
</div>
