@{
    ViewBag.Title = "lienHe";
    Layout = "~/Views/Shared/QLSPLayout.cshtml";
}

<style type="text/css">
    #note i {
        font-size:25px;
        color:gray;
    }
    #note ul {
        color:black;
    }
    #note li {
        list-style: none;
    }
</style>

<div class="d-flex mt-2" style="border-radius:10px 10px 10px 10px">
    <div class="" id="note" style="width:40%; background-image: url(../Images/contact-background-images-9.jpg); background-repeat:no-repeat">
         <ul class="" style="padding-top:305px;">
           <li class="ml-2">
             <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
             <span>472/22 Kha Vạn Cân, Hiệp Bình Chánh<br />
               Quận Thủ Đức,<br />
               Thành Phố Hồ Chí Minh
             </span>
           </li>
           <li class="mt-2 ml-2">
             <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
             <span>nguyenhai15040206@gmail.com</span>
           </li>
          <li class="mt-2 ml-2">
             <span><i class="fa fa-phone-square" aria-hidden="true"></i></span>
             <span>035-786-6848</span>
           </li>
         </ul>
                <ul class="d-flex ml-2">
                     <li><a href="#" class=""><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#" class="ml-3"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"class="ml-3"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                     <li><a href="#"class="ml-3"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                     <li><a href="#"class="ml-3"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                   </ul>
                    </div>
    <div style="width:60%">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.804634558955!2d106.70985331500344!3d10.8262578612318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752885fbfd92e7%3A0x2f2d04bddec06ed2!2zNDcyLCAyMiDEkC4gS2hhIFbhuqFuIEPDom4sIEhp4buHcCBCw6xuaCBDaMOhbmgsIFRo4bunIMSQ4bupYywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1608835517300!5m2!1svi!2s" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
