<!doctype html>
<html lang="en">
<head>
    <title>IntroductsMySelf</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('~/Aloo/Images/nen1.jpg');background-repeat: no-repeat; background-size: cover;">
    <div class="d-flex">
        <div style="padding-top: 2%; padding-left: 1%;">
            <img src="Images/avatar.jpg" class="rounded-circle" style="width: 500px; height: 500px;" />
        </div>
        <div style="padding-top: 3%;margin-left: 15px;">
            <div class="alert alert-success alert-dismissible" style="width: 900px;">
                <button type="button" class="close" data-dismiss="alert-dismissible">&times;</button>
                <strong>Xin chào!</strong> Cảm ơn bạn đã ghé thăm trang cá nhân của tôi.
            </div>
            <div style="margin-left: 10px;">
                <div>
                    <h5>Giới thiệu về bản thân...</h5>
                </div>
                <div>
                    <p>Tên tôi là Nguyễn Tấn Hải. Tôi là một trình viên thiên về UI/UX designer & Backend Developer</p>
                    <p style="margin-top:-10px">Tôi sinh ra tại huyện Tư Nghĩa tỉnh Quảng Ngãi</p>
                    <p style="margin-top:-10px">Công việc hiện tại: Sinh viên năm cuối khoa Công nghệ thông tin trường Đại học Công Nghiệp Thực Phẩm TPHCM</p>
                    <p style="margin-top:-10px">Sở thích: đá bóng, xem phim, đi du lịch thực tế,...</p>
                    <p style="margin-top:-10px">Liên hệ tôi: nguyenhai15040206@gmail.com</p>
                    <div class="d-flex">
                        <div>
                            <a href="https://www.facebook.com/tanhai.nguyen.921/"><button class="btn btn-info" style="width: 170px; height: 40px; border-radius: 10px;"><i class="fab fa-facebook-square" style="font-size: xx-large;"></i>acebook</button></a>
                        </div>
                        <div style="margin-left: 20px;">
                            <a href="https://github.com/nguyenhai15040206"><button class="btn" style="width: 170px; height: 40px; border-radius: 10px;background-color: white; box-shadow: yellow"><i class="fab fa-github-square" style="font-size: xx-large;"></i>Github</button></a>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <p>Công nghệ yêu thích:</p>
                    </div>
                    <div class="d-flex" style="margin-top: -10px;">
                        <div class="card-header"><img style="width: 100px; height: 40px;" src="~/Aloo/Images/Cshap.png" /></div>
                        <div class="card-header"><img style="width: 100px; height: 40px;" src="~/Aloo/Images/java.jpg" /></div>
                        <div class="card-header"><img style="width: 100px; height: 40px;" src="~/Aloo/Images/htmlcss.jpg" /></div>
                        <div class="card-header"><img style="width: 100px; height: 40px;" src="~/Aloo/Imagess/sqlserver.jpg" /></div>
                        <div class="card-header"><img style="width: 100px; height: 40px;" src="~/Aloo/Images/postgresql (1).png" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

